<ion-view hide-nav-bar="true" class="banner">
  <ion-header-bar class="bar-clear">
     <h1 class="title">Login</h1>
   <!--<div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>-->
  </ion-header-bar>
  
  <ion-content has-header="false">
  <br>
<div class="row">
  <div class="col"></div>
  <div class="col logo">
		<img src="img/ionic.png">
  </div>
  <div class="col"></div>
</div>  
    <form ng-submit="doLogin()">
	<div  class="padding list list-inset trns">
		<label class="item item-input  login-input">
			<i class="icon ion-ios-email"></i>&nbsp;&nbsp;
			<input type="text" placeholder="Email address">
		</label>
		<br>
		<label class="item item-input login-input">
			<i class="icon ion-ios-locked"></i>&nbsp;&nbsp;
			<input type="password" placeholder="Password">
		</label>
		<br>
		<br>
		<button class="button button-block button-light" ng-click="close()">
			 Sign in
		</button>
	</div>
    </form>
  </ion-content>
</ion-view>